/*

Add styles or override variables from the theme here.

*/

$primary: #AA0088;
$secondary: #868e96;
$success: #008f54;
$info: #00c9dc;
$warning: #fdf314;
$danger: #dc1200;
$light: #f8f9fa;
$dark: #363636;
